<div class="container">
  <div class="col-md-4 col-md-offset-4">
    <h1 class ="prems"><%= @cocktail.name %></h1>
    <%= cl_image_tag(@cocktail.photo, width: 400, height: 250, crop: :fill) %>
    <% @cocktail.doses.each do |dose| %>
    <p><%= dose.description %> of <%= dose.ingredient.name %> | <%= link_to 'delete', dose_path(dose), method: :delete, data: { confirm: "Are you sure?" }%></p>
    <% end %>
  </div>
  <div class="col-md-4 col-md-offset-4">
    <h3>Add dose of ingredient</h3>
    <%= simple_form_for [@cocktail, @dose] do |f| %>
      <%= f.input :description, placeholder: 'ie: 6cl' %>
      <%= f.association :ingredient, collection: @ingredients, prompt: "pick ingredient" %>
      <%= f.submit "add dose", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
